@charset "utf-8";
/* CSS Document */

#container {
	width: 1000px;
	margin: auto;
}

html, body {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

body {
	font-family: Verdana, Helvetica, Sans-serif;
	font-size: 12px;
	color: #000000;
	background: #ffffff;
    line-height: 1.88889;
}

#main-nav {
	height: 50px;
}

#header {
	height: 150px;
border-bottom: 1px #9966CC solid;
	
}

#header h1
{
    font: italic normal bold 2.5em Monotype Corsiva, georgia, sans-serif;
		text-align: center;
		color: Purple;
}

#header h2
{
    font:italic normal 2.1em Monotype Corsiva, georgia, sans-serif;
		text-align: center;
		color: Green;
}

#sidebar-a {
	float: right;
	width: 180px;
	line-height: 18px;	
border-left: 1px #9966CC solid;	
}

#sidebar-a li {
	list-style: none;
}

#sidebar-a  h2
{
    font:italic normal 2.1em Monotype Corsiva, georgia, sans-serif;
		text-align: center;
		color: Green;
}

#content {
	margin-right: 180px;
	line-height: 18px;	
}

#footer {
	clear: both;
	height: 66px;
}

h1,h2 {
	margin: 0;
	padding: 0;
}

ul#menu
{
    border-bottom: 1px #9966CC solid;
    padding: 0 0 2px;
    /* position: relative; */
    margin: 0;
    text-align: left;
    /* width:50%; */
}

ul#menu li
{
    display: inline;
    list-style: none;
    color: Green;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: Purple;
    color: LightGreen;   

}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

table
{
    color:#333333;border-collapse:collapse; 
}
			   

tr.odd
{
   color:#333333;background-color:LightGreen;font-size:large;font-family:Verdana;border:medium solid white;
}    

tr.even
{
   color:#333333;background-color:#FFFFCC;font-size:large;font-family:Verdana;border:medium solid white;
} 

#galleryThumbnail
{
    /*width:100%;
    float: left;
     background-color: #fff; */
    margin: 10px;
    /*text-align:center;*/
}

#galleryThumbnail img
{
    box-shadow: 5px 5px 5px #111;
}

#galleryThumbnail p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    color: #acbcc2;
    text-decoration: none;
    position: relative;
}

#galleryThumbnail p span
{
    width: 200px;
    background-color: #CCCCCC;
    color: Green;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px #111;
    padding: 10px;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    top: -50px;
    left: 100px;
}

#galleryThumbnail p:hover span
{
    visibility: visible;
}

#galleryThumbnail a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    color: #acbcc2;
    text-decoration: none;
    position: relative;
}

.row
{
    padding: 15px;

}

.cell
{
    padding: 25px;
	display:inline-block;
}

#searchBox
{
    float:right;

}

#leftItemTemplate,#rightItemTemplate 
{
    padding: 0 0px;
    margin: 0;
}

#leftItemTemplate 
{
    float: left;
    padding: 5px;
    width: 30%;
}

#rightItemTemplate 
{
    float: right;
    padding: 5px;
    width: 60%;
}

#leftItemTemplate h2
{
    text-align: left;
    font: italic normal bold 2.1em "New Century Schoolbook", georgia, sans-serif;
    color: Purple;
}

#leftItemTemplate h3
{
    text-align: left;
    font: italic normal bold 1.7em  "New Century Schoolbook", georgia, sans-serif;
    color: Green;    
}

#rightItemTemplate h3
{
    text-align: left;
    font: italic normal bold 1.7em  "New Century Schoolbook", georgia, sans-serif;
    color: Green;    
}

#tracks
{
	clear: both;
    width: 80%;
	font: normal bold 1.2em Arial, Helvetica, sans-serif;
}

#tracks li {
	list-style: none;

}

#album h2
{
    text-align: left;
    font: italic normal bold 2.1em "New Century Schoolbook", georgia, sans-serif;
    color: Purple;
}


#ratingFormDiv
{
	display:none;
}

#logout
{
	clear:both;
}

